<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040815219870-8ag3937s9u5eubp2g63svbk1rdlig2ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040815219870-8ag3937s9u5eubp2g63svbk1rdlig2ql</string>
	<key>API_KEY</key>
	<string>AIzaSyBoWSgsJVNcrzLxiNJwRWXSUKP7dK46LKA</string>
	<key>GCM_SENDER_ID</key>
	<string>1040815219870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cells</string>
	<key>PROJECT_ID</key>
	<string>cells27</string>
	<key>STORAGE_BUCKET</key>
	<string>cells27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040815219870:ios:286d55c3c76fd74fef878f</string>
</dict>
</plist>